extends ../layout

block content
	section.container
		header
			h1= land.name 
				small  #{land.area} Mts<sup>2</sup>
			a(href="/land/edit") Editar

		hr

		article
			header
				h3 Bloques 
					small:  a(href="/blocks/new") Nuevo bloque
			table.table.table-striped
				tr.info
					th Nombre del bloque
					th Area del bloque
					th Ver
					th Editar
					th Eliminar
				each block in land.blocks
					tr
						td= block.name
						td #{block.area} Mts<sup>2</sup>
						td: a.btn.btn-default(href="/blocks/#{block._id}"): span.glyphicon.glyphicon-eye-open
						td: a.btn.btn-default(href="/blocks/#{block._id}/edit"): span.glyphicon.glyphicon-pencil
						td: a.btn.btn-default(href="/blocks/#{block._id}/destroy"): span.glyphicon.glyphicon-trash
