extends ../layout

block title
	title Lista de entradas y salidas

block content
	section.container
		header
			h3 Entradas y salidas
		div
			a.btn.btn-default(href="/io/new/in") Registrar Entradas
			a.btn.btn-default(href="/io/new/out") Registrar Salidas
		hr
		article
			table.table.table-striped
				tr.info
					th Nombre
					th Cantidad
					th Costo
					th Medida
					th Tipo
					th Fecha
				if io
					each item in io
						tr
							td= item.name
							td= item.amount
							td= item.cost
							td= item.measure
							td #{(item.type=="in")?"Entrada":"Salida"}
							td= item.date