mixin generate_form(job, type, data)
	form(method="POST")
		div#blocks.panel-group
			each block in data.blocks
				div.panel.panel-primary
					div.panel-heading
						h4.panel-title  
							span.glyphicon.glyphicon-th-large  
							a(data-toggle="collapse", data-parent="#blocks" href="#block#{block._id}")  #{block.name}
					div.panel-collapse.collapse(id="block#{block._id}")
						div.panel-body
							each plot in block.plots
								div.plot
									label.label.label-default(for=plot._id) <span class="glyphicon glyphicon-leaf"></span> #{plot.name}
									input(id=plot._id, name="plots", type="checkbox", value=plot._id)
		div.form-group
			label(for="employee") Empleado
			select#employee.form-control(name="employee_id", required)
				option(value="") Seleccione un empleado
				each employee in data.employees
					option(value=employee._id)= employee.name

		div.form-group
			label(for="time") Tiempo
			div.input-group
				input#time.form-control(type="number", name="time", required, value=job.time)
				div.input-group-addon Horas

		div.form-group
			label(for="date") Fecha
			input#date.form-control(type="date", name="date", required, value=job.date)

		div.form-group
			label(for="cost") Costo
			input#cost.form-control(type="number", name="cost", required, value=job.cost)

		if(type == "cosecha")
			div.form-group
				label(for="amount") Cantidad
				input#amount.form-control(type="number", name="amount", required, value=job.amount)

		if(type == "siembra")
			div.form-group
				label(for="seed") Semilla
				select#seed.form-control(name="seed_id", required)
					option(value="") Seleccione una semilla
					each seed in data.seeds
						option(value=seed._id)= seed.name

		div.form-group
			input.btn.btn-success(type="submit", value="Registrar")
