extends ../layout

block content
	section.container
		header
			h3 Detalles de #{job.type}
			a.btn.btn-default(href="/job/history") <span class="glyphicon glyphicon-arrow-left"></span> Atras

		hr

		article
			ul.list-group
				li.list-group-item
					h4 Fecha: 
					span= job.date
				li.list-group-item
					h4 Costo:
					span= job.cost
				li.list-group-item
					h4 Empleado:
					span= employee.name
				li.list-group-item
					h4 Tiempo:
					span #{job.time} Horas

				if(job.type == "siembra")
					li.list-group-item
						h4 Semilla:
						span= seed.name

				if(job.type == "cosecha")
					li.list-group-item
						h4 Cantidad:
						span= job.amount
