extends ../layout

block content
	section.container
		header
			h3 #{block.name} <small>Mtrs<sup>2</sup></small>
			div: a(href="/land") Atras

		hr

		article
			header
				h3 #{block.plots.length} Parcelas

			table.table.table-striped
				tr.info
					th Nombre de parcela
					th Area de parcela
					th Ver
					th Editar
					th Eliminar
				each plot in block.plots
					tr
						td= plot.name
						td #{plot.area} Mts<sup>2</sup>
						td: a.btn.btn-default(href='#'): span.glyphicon.glyphicon-eye-open 
							td: a.btn.btn-default(href='/plots/#{plot._id}/edit'): span.glyphicon.glyphicon-pencil
						td: a.btn.btn-default(href='#'): span.glyphicon.glyphicon-trash
