extends ../layout

block title
	title Lista de cafetos

block content
	section.container
		header
			h3 Cafeto
		div
			a(href="/seeds/new") Registrar
		hr
		article
			table.table.table-striped
				tr.info
					th Nombre
					th Abono
					th Pesticida
					th Surco
					th Cafeto
					th Semillero
					th Almacigo
					th Graneo
					th Soca
					th Cosecha
					th Proveedor
					th Editar
					th Eliminar					
				each seed in seeds
					tr
						td= seed.name
						td= seed.fertilizerAmount
						td= seed.pesticideAmount
						td= seed.grooveDistance
						td= seed.seedDistance
						td= seed.seedbedTime
						td= seed.masticTime
						td= seed.grainingTime
						td= seed.socaTime
						td= seed.harvest
						td= seed.supplier
						td: a.btn.btn-default(href="/seeds/"+seed._id+"/edit"): span.glyphicon.glyphicon-pencil
						td: a.btn.btn-default(href="/seeds/"+seed._id+"/delete"): span.glyphicon.glyphicon-trash

							
							
							